{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Poll</title>
    <link rel="stylesheet" type = 'text/css' href="{%  static 'APP/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type = 'text/css' href="{%  static 'APP/style.css' %}"/>
</head>
<body>
<hr>
<hr>
{%  include 'APP/header.html' %}
<div class="jumbotron">
        <h1>Simple Polls : </h1>

        {%  block main_content %}
        {% endblock %}
        </div>
{%  include 'APP/footer.html' %}
</body>
</html>